{% if object_list %}
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td><a href="{{object.get_absolute_url}}">{{object.code}}</a></td>
                <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
                <td class="td-actions">
                    <a href="{{object.get_absolute_url}}" rel="tooltip" class="btn btn-info btn-round">
                        <i class="material-icons">open_in_new</i>
                    </a>
                    <a href="{{object.get_update_url}}" rel="tooltip" class="btn btn-success btn-round">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="{{object.get_delete_url}}" rel="tooltip" class="btn btn-danger btn-round">
                        <i class="material-icons">close</i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="content pt-4 text-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas saepe culpa consequatur laborum repellat labore, modi sint sed repellendus vitae mollitia recusandae facilis, corporis dolorem nulla, inventore earum repudiandae dolorum.</p>
    <a href="{% url 'products:new_unit' %}" class="btn btn-primary d-inline-block">Add New</a>
</div>
{% endif %}